Source: gmediadb
Priority: extra
Maintainer: Brett Mravec <brett.mravec@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, pkg-config, libsqlite3-dev, libglib2.0-dev, libdbus-1-dev, libdbus-glib-1-dev
Standards-Version: 3.8.0
Section: devel
Homepage: http://code.google.com/p/gmediadb

Package: gmediadb-dev
Section: devel
Architecture: any
Depends: gmediadb (= ${binary:Version})
Description: GObject devel libraries from gmediadb
 Provides a GObject library for accessing the gmediadb
 media metadata database.

Package: gmediadb
Section: libs
Architecture: any
Depends: libsqlite3-0, libglib2.0-0, libdbus-1-3, libdbus-glib-1-2
Description: user-wide media database
 Provides a user-wide media metadata database so multiple
 programs can access and use the same library of media
 files
